/* CSS rules for smaller screens */
@media (max-width: 400px) {
  a.navbar-brand {
    font-size: 6vw;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #19084e;
}

/* Navbar styles for small screens (collapsed) */
.navbar-collapse {
  flex-direction: column;
  align-items: flex-start;
}

a.nav-link {
  gap: 20px; /* Adjust the gap as needed */
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

.navbar-brand {
  justify-content: space-between;
  font-size: 200%;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/* Styles for the collapsed navbar toggler button */
.navbar-toggler {
  display: inline; /* Hide the toggler button for large screens */
  color: white;
}

/* Customize the color of the hamburger icon */
/* .navbar-toggler .navbar-toggler-icon {
    background-color: rgb(255, 255, 255);
  } */

/* Control alignment of collapsed menu contents */
  ul.navbar-nav.ml-auto {
    align-items: flex-start;
  }

/* MAIN SECTION */
#homepage {
  margin-top: 84px;
}

#topBanner {
  background-color: #19084e;
  color: white;
}

#topBanner image {
  background-image: url("../media/placeholderPic1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  #topBanner p {
    max-height: 5rem;
  }

  footer {
    background-color: #19084e;
  }

  footer button {
    background-color: white;
  }